<div class="py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        © 2006-<script>document.write(new Date().getFullYear())</script> 
      <a href="{{ site.url }}">Hoonio Ltd.</a>
      </div>
      <div class="col-sm text-center">
        <ul class="list-unstyled social-buttons">
          {%- for social in site.social_links -%}
          <li>
            <a href="{{ social.url }}">
              <span class="hoonio hoonio-stack hoonio-lg">
                <i class="hoonio hoonio-circle hoonio-stack-2x"></i>
                <i class="hoonio hoonio-stack-1x hoonio-{{ social.name }}"></i>
              </span>
            </a>
          </li>
          {% endfor -%}
        </ul>
      </div>
      <div class="col-sm text-right">
        <ul class="list-inline">
          {%- for link in site.footer_links -%}
          <li>
            <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.name | escape }}</a>
          </li>
          {% endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
